<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title></title>
    <script src="../js/mui.min.js"></script>
    <link href="../css/mui.min.css" rel="stylesheet"/>
    <script type="text/javascript" charset="utf-8">
      	mui.init();
    </script>
</head>
<body>
	<div id="pullrefresh" class="mui-content mui-scroll-wrapper">
				<!--<ul id="affaircards" class="mui-table-view kr-table-view">
				</ul>-->
				<div id="affaircards"></div>
	</div>
	<script id="affaircard-template" type="text/x-handlebars-template">
		<!--<li id="affair_{{id}}" class="mui-table-view-cell mui-media">-->
			<div class="mui-card" style="margin-bottom: 8px;">
			<a href="detail.html?guid={{guid}}" data-guid="{{guid}}">
				<div class="mui-media-object mui-pull-left">
					<img src="{{image}}" />
				</div>
				<div class="mui-media-body">
					{{title}}
				</div>
				<p class='kr-time'>{{humanize}}</p>
			</a>
			</div>
		<!--</li>-->
	</script>
	<script src="../js/handlebars-v3.0.3.js"></script>
	<script src="../js/html5sql.js"></script>
	<script src="../js/AffairsDB.js"></script>
	<script>
		var divEl = document.createElement("div");
		var newsSource = document.getElementById("affaircard-template").innerText;
		var CardTemplate = Handlebars.compile(newsSource);
		var cardsEl = document.getElementById("affaircards");
		mui.init({
				pullRefresh: {
					container: '#pullrefresh',
					down: {
						callback: pulldownRefresh
					},
					up: {
						contentrefresh: '正在加载...',
						callback: pullupRefresh
					}
				}
			});
		mui('#pullrefresh').on('tap', 'a', function() {
				open_new_detail(this.getAttribute('data-guid'));
			});
			
		mui.plusReady(function() {
				//关闭splash界面
//				plus.navigator.closeSplashscreen();
				AffairsDB.ready(function(isFirst) {
					setTimeout(function() {
						document.body.style.backgroundColor = '#efeff4';
//						if (!isFirst) {
//							console.log("sssss");
//							//加载初始化数据
//							mui('#pullrefresh').pullRefresh().pullupLoading();
//							setTimeout(function() {
//								pulldownRefresh();
//							}, 2000);
//						} else {
//							console.log("first time");
//							getToday();
//						}
						getToday();
					}, 500);
				});
			});
		
		function getToday(){
			pullupRefresh();
		}
		
		function pullupRefresh(){
			console.log('pullup');
			AffairsDB.queryall(function(affairs){
				console.log("affairs len is "+affairs.length)
				for (var i = 0, len = affairs.length; i < len; i++) {
					divEl.innerHTML = CardTemplate(processCard(affairs.item(i)));
					cardsEl.appendChild(divEl.firstElementChild);
				}
				mui('#pullrefresh').pullRefresh().endPullupToRefresh();
			    }, function() {
					mui('#pullrefresh').pullRefresh().endPullupToRefresh();
				})
		
		}
		function pulldownRefresh(){}
		function processCard(s){return s;}
		</script>
	
</body>
</html>